<div layout="row" layout-wrap layout-margin layout-align="left">
    <form name="cartForm" class="css-form">


        <!-- USERNAME FORM & VALIDATION -->
        <md-input-container layout="row" layout-wrap layout-margin layout-align="center">
            <label>
                Name:
            </label>
            <input matInput type="text" ng-model="uName" name="uName" required />
        </md-input-container>

        <span ng-hide="cartForm.uName.$pristine">
            <div ng-messages="cartForm.uName.$error" style="color:red" role="alert">
                <div ng-message="required">Please enter your name.</div>
            </div>
        </span>


        <!-- EMAIL FORM & VALIDATION -->
        <md-input-container layout="row" layout-wrap layout-margin layout-align="center">
            <label>
                E-mail:
            </label>
            <input type="email" ng-model="uEmail" name="uEmail" required />

            <span ng-hide="cartForm.uEmail.$pristine">
                <div ng-messages="cartForm.uEmail.$error" style="color:red" role="alert">
                    <div ng-message="required">Please enter your email.</div>
                </div>
            </span>
        </md-input-container>


        <!-- ADDRESS FORM & VALIDATION -->
        <md-input-container layout="row" layout-wrap layout-margin layout-align="center">
            <label>
                Address:
            </label>
            <input type="address" ng-model="uAddress" name="uAddress" required />

            <span ng-hide="cartForm.uAddress.$pristine">
                <div ng-messages="cartForm.uAddress.$error" style="color:red" role="alert">
                    <div ng-message="required">Please enter your address.</div>
                </div>
            </span>
        </md-input-container>


        <!-- ZIPCODE FORM & VALIDATION -->
        <md-input-container layout="row" layout-wrap layout-margin layout-align="center">
            <label>
                Zipcode:
            </label>
            <input type="zipcode" ng-model="uZipcode" name="uZipcode" required/>

            <span ng-hide="cartForm.uZipcode.$pristine">
                <div ng-messages="cartForm.uZipcode.$error" style="color:red" role="alert">
                    <div ng-message="required">Please enter your zipcode.</div>
                </div>
            </span>
        </md-input-container>


        <!-- CITY FORM & VALIDATION -->
        <md-input-container layout="row" layout-wrap layout-margin layout-align="center">
            <label>
                City:
            </label>
            <input type="city" ng-model="uCity" name="uCity" required />

            <span ng-hide="cartForm.uCity.$pristine">
                <div ng-messages="cartForm.uCity.$error" style="color:red" role="alert">
                    <div ng-message="required">Please enter your city.</div>
                </div>
            </span>
        </md-input-container>


        <!-- STATE OPTIONS -->
        <md-input-container layout="row" layout-wrap layout-margin layout-align="start">
            <label>State:</label>
            <md-select ng-model="uState" name="uState" placeholder="Select a state" required>
                <md-option ng-value="uState" ng-repeat="uState in state">{{ uState.state }}
            </md-select>

        </md-input-container>


        <!-- GENDER FORM & VALIDATION -->
        <md-input-container layout="row" layout-wrap layout-margin layout-align="start">
            <label>Gender:</label>
            <md-select name="uGender" ng-model="uGender" placeholder="Select your gender">
                <md-option ng-value="uGender" ng-repeat="uGender in gender">
                    {{uGender.gender}}
            </md-select>
        </md-input-container>


        <!-- AGREE FORM & VALIDATION -->
        <md-checkbox name="uAgree" ng-model="uAgree" layout="row" layout-wrap layout-margin layout-align="start" required> All
            of the above information is correct.
            <span ng-hide="cartForm.agree.$pristine">
                <div ng-messages="cartForm.agree.$error" style="color:red" role="alert">
                    <div ng-message="required">Must be selected to move on.</div>
                </div>
            </span>
        </md-checkbox>


        <!-- CLEAR & SUBMIT BUTTON -->
        <md-button ng-click="clearValue()" ng-disabled="!(uName || uEmail || uAddress || uZipcode || uCity || stateUser || userGen || uAgree)"
            class="md-secondary md-raised">
            Clear</md-button>

        <md-button ng-click="showConfirm($event)" class="md-primary md-raised" ng-disabled="!uAgree">
            Submit</md-button>

        <div ng-if="status" id="status">
            <b layour="row" layout-align="center center" class="md-padding">
                {{status}}
            </b>
        </div>

    </form>

</div>