<md-dialog aria-label="Vehicle Details">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Vehicle Details</h2>
                <span flex></span>
                <md-button aria-label="cancel" class="md-icon-button" ng-click="cancel()">
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div ng-repeat="vehicle in vehicles">
                    <h2>{{vehicle.make}}</h2>
                    <h2>{{vehicle.model}}</h2>
                    <a href="#!/vehicles/{{ vehicle.id }}" class="thumb">
                        <img ng-src="{{ vehicle.imageURL }}" class="md-card-image" alt="Washed Out">
                    </a>
                    <p> {{ vehicle.description }} </p>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>