<md-dialog aria-label="Vehicle Details">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Vehicle Details</h2>
                <span flex></span>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div ng-repeat="vehicle in vehicles" class="md-dialog-content">
                <h1>{{vehicle.year}} {{vehicle.make}} {{vehicle.model}}</h1>
                <span flex></span>
                <div layout="row">
                    <img style="padding: 3%" src="{{ vehicle.imageURL }}" class="md-card-image">
                    <h4 style="padding: 2%;"> {{ vehicle.description }} </h4>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>