<table ng-table="vm.tableParams" class="table" show-filter="true">
    <tr ng-repeat="vehicle in vehicles">
        <td title="'Id'" filter="{ id: 'text'}" sortable="'id'" filter="{ 'id': 'text' }">
            {{vehicle.id}}</td>
        <td title="'Make'" filter="{ Make: 'text'}" sortable="'make'" filter="{ 'make': 'text' }">
            {{vehicle.make}}</td>
        <td title="'Model'" filter="{ Model: 'text'}" sortable="'model'" filter="{ 'model': 'text' }">
            {{vehicle.model}}</td>
        <td title="'Year'" filter="{ Year: 'text'}" sortable="'year'" filter="{ 'year': 'text' }">
            {{vehicle.year}}</td>
        <td title="'Color'" filter="{ color: 'text'}" sortable="'color'" filter="{ 'color': 'text' }">
            {{vehicle.color}}</td>
    </tr>
</table>