<div>
  <div layout="row">

    <!-- SEARCH BAR AND SORT BY BEGINS -->
    <md-input-container class="md-toolbar-tools" flex="40" layout="row">
      <label>Sort By</label>
      <md-select name="sortBy" ng-model="vm.orderProp">
        <md-option value="make ">Make</md-option>
        <md-option value="year ">Year</md-option>
      </md-select>
    </md-input-container>

    <md-input-container class="md-toolbar-tools" flex="40" layout="row">
      <i class="nav-icon material-icons">search</i>
      <input type="text" aria-label="search" name="search" ng-model=" vm.query " />
    </md-input-container>
  </div>
  <!-- SEARCH BAR AND SORT BY ENDS -->

  <div ng-cloak layout="row">
    <md-content class="md-padding" layout-xs="column">
      <div ng-repeat="vehicle in vehicles | filter: vm.query | orderBy: vm.orderProp" flex-xs flex-gt-xs="30">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">{{vehicle.make}} {{vehicle.model}}</span>
              <span class="md-subhead">{{vehicle.description}}</span>
            </md-card-title-text>
            <md-card-title-media>
              {{vehicle.rating}}
              <div class="md-media-lg card-media">
                <img src="{{vehicle.imageURL}}">
                <br/>
              </div>
              Likes: {{counter + 1}}
              <br/>
              <sample-rating value="callback" text="Hello World" input="" output="count = count + amount"></output>></sample-rating>
              <br/>
            </md-card-title-media>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
            <md-button ng-click="showAdvanced($event, vehicle.id)">View Details</md-button>
          </md-card-actions>
        </md-card>
      </div>
    </md-content>
  </div>
</div>